.star{
    display: flex;
    flex-direction: row;
}
.title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.side-filter{
    border: 1px solid red;
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
}